<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
     <dl style="text-align:center">
        <form action={{url_for('user.login')}} method="post">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="password" placeholder="password">
            <input type="submit" value="登录">
        </form>
        <form action={{url_for('user.register')}} method="post">
            <input type="text" name="username_register" placeholder="username">
            <input type="text" name="password_register" placeholder="password">
            <input type="submit" value="注册">
        </form>
        {% for weibo in weibos %}
            <dt>{{weibo.id}}&nbsp;&nbsp;&nbsp;{{weibo.contents}}&nbsp;&nbsp;&nbsp;{{weibo.create_time}}<a href={{url_for('user.comments', weibo_id=weibo.id)}}>评论</a>
                {% if weibo.load_comment() %}
                    <dd>{% for comment in weibo.load_comment() %}
                            {{comment.contents}}&nbsp;&nbsp;&nbsp;{{comment.create_time}}<br>
                        {% endfor %}
                    </dd>
                {% endif %}
        {% endfor %}
    </dl>
</body>
</html>