{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
{{ super() }}

<div class="container">
    <div class="col-md-8">
        <p style="color:#000;font-size:28px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
            {{recipes.name}}</p>
    </div>
    <div class="col-md-4">
        <p>
            {% if current_user.name==recipes.author or current_user.name=='admin' %}
            <a href={{url_for("recipe.recipe_edit", recipe_id=recipes.id)}}
               style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">修改菜谱</a>
            <a href={{url_for("recipe.recipe_delete", recipe_id=recipes.id)}}
               style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">|
                删除菜谱</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href={{url_for("recipe.index")}}
               style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">|
                创建菜谱</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-9">
        <img class="featurette-image img-responsive" src="{{ recipes.pictures }}" data-src="holder.js/300x300/auto"
             alt="Generic placeholder image">
        <br>
    </div>
    <div class="com-md-12">
        <div class="col-md-9">
            <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                简介：</p>
            {% if recipes.introduce %}
            <textarea name="introduce" class="form-control" placeholder="菜谱描述" rows="11" cols="58" boder-color=rgb(255,
                      255, 255) style="resize:none">{{ recipes.introduce }}</textarea>
            {% else %}
            <textarea name="introduce" class="form-control" placeholder="菜谱描述" rows="3" cols="58" boder-color=rgb(255,
                      255, 255) style="resize:none">暂无该菜谱描述</textarea>
            {% endif %}
        </div>
    </div>
    <div class="com-md-12">
        <div class="col-md-6">
            <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                <br>用料：</p>
            <table class="table table-table-condensed">
                {% if recipes.materials.all() %}
                <tr>
                    <th>用料名称：</th>
                    <th>用量：</th>
                </tr>
                {% for material in recipes.materials.all() %}
                <tr>
                    <th>{{ material.name }}</th>
                    <th> {{ material.amount }}</th>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <th>暂无该菜谱用料信息</th>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="col-md-12">
        <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
            {{ recipes.name }}的做法:</p>
        {% if recipes.steps.all() %}
        {% for step in recipes.steps.all() %}
        <div class="col-md-6">
            <p style="color:rgb(0,0,0);font-size:15px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                {{ step.step_number }}:{{ step.technique }}</p>
        </div>
        <div class="col-md-3">
            {% if (step.pictures) %}
            <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto"
                 alt="Generic placeholder image" src={{step.pictures}}>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
            <p style="color:rgb(0,0,0);font-size:15px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                暂无该菜谱做法信息</p>
        </div>
        <br><br>
        {% endif %}
    </div>
    <div class="com-md-12">
        <div class="col-md-9">
            <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                小贴士：</p>
            {% if recipes.tips %}
            <textarea name="introduce" class="form-control" rows="11" cols="58" boder-color=rgb(255, 255, 255)
                      style="resize:none">{{ recipes.tips }}</textarea>
            {% else %}
            <textarea name="introduce" class="form-control" rows="3" cols="58" boder-color=rgb(255, 255, 255)
                      style="resize:none">暂无该菜谱贴士</textarea>
            {% endif %}
        </div>
    </div>
    <div class="com-md-12">
        <div class="col-md-9">
            <br>
            <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                {{recipes.name}}的留言：</p>
            <p><a href={{url_for("recipe.recipe_questions", recipe_id=recipes.id)}}
                  style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">查看菜谱留言</a>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12"><br></div>
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <p>
                {% if current_user.name == recipes.author or current_user.name == 'admin' %}
                <a href={{url_for("recipe.recipe_edit", recipe_id=recipes.id)}}
                   style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">修改菜谱</a>
                <a href={{url_for("recipe.recipe_delete", recipe_id=recipes.id)}}
                   style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">|
                    删除菜谱</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href={{url_for("recipe.index")}}
                   style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">|
                    创建菜谱</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
</body>
</html>
