{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
{{ super() }}

<div class="container">
    <form class="form-inline" role="form" enctype="multipart/form-data" action={{url_for("recipe.recipe_add")}}
          method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="col-md-6">
            <input name="name" type="text" class="form-control" placeholder="菜谱名称">
        </div>
        <div class="col-md-12"></div>
        <br>
        <div class="col-md-12"></div>
        <br>
        <div class="col-md-6">
            <span
                style="color:#922;font-size: 12px;font-family: CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif ">*菜谱封面(仅支持png jpg jpeg格式,必填）：</span>
            <input name="pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;"
                   value="菜谱封面">
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <h5>简介：</h5>
            <textarea name="introduce" class="form-control" placeholder="菜谱描述" rows="5" cols="58"
                      style="resize:none"></textarea>
        </div>
        <div class="col-md-12">
            <h5>用料：</h5>
            <div class="col-md-5">
                <table>
                    <tr>
                        <th><input type="text" name="material1" placeholder="用料名称"></th>
                        <th><input type="text" name="amount1" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material2" placeholder="用料名称"></th>
                        <th><input type="text" name="amount2" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material3" placeholder="用料名称"></th>
                        <th><input type="text" name="amount3" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material4" placeholder="用料名称"></th>
                        <th><input type="text" name="amount4" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material5" placeholder="用料名称"></th>
                        <th><input type="text" name="amount5" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material6" placeholder="用料名称"></th>
                        <th><input type="text" name="amount6" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material7" placeholder="用料名称"></th>
                        <th><input type="text" name="amount7" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material8" placeholder="用料名称"></th>
                        <th><input type="text" name="amount8" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material9" placeholder="用料名称"></th>
                        <th><input type="text" name="amount9" placeholder="用量"></th>
                    </tr>
                    <div class="col-md-12"></div>
                    <tr>
                        <th><input type="text" name="material10" placeholder="用料名称"></th>
                        <th><input type="text" name="amount10" placeholder="用量"></th>
                    </tr>
                </table>
            </div>
            <div class="col-md-7"></div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <h5>做法（每一步骤和对应图片）：</h5>
            <div class="form-group">
                <textarea name="step1_introduce" class="form-control" placeholder="菜谱步骤1" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step1_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step2_introduce" class="form-control" placeholder="菜谱步骤2" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step2_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step3_introduce" class="form-control" placeholder="菜谱步骤3" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step3_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step4_introduce" class="form-control" placeholder="菜谱步骤4" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step4_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step5_introduce" class="form-control" placeholder="菜谱步骤5" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step5_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step6_introduce" class="form-control" placeholder="菜谱步骤6" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step6_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step7_introduce" class="form-control" placeholder="菜谱步骤7" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step7_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step8_introduce" class="form-control" placeholder="菜谱步骤8" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step8_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step9_introduce" class="form-control" placeholder="菜谱步骤9" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step9_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="step10_introduce" class="form-control" placeholder="菜谱步骤10" style="resize:none" rows="3"
                          cols="28"></textarea>
            </div>
            <div class="form-group">
                <input name="step10_pictures" type="file" class="form-control"
                       style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <h5>小贴士：</h5>
            <textarea name="tips" class="form-control" placeholder="添加小贴士" style="resize:none" rows="5"
                      cols="58"></textarea>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-6">
            <input type="submit" value="发布菜谱">
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

</body>

<div class="col-md-12">
    <form class="form-inline" role="form">
        <input type="text" class="span2" placeholder="用料名称">
        <input type="text" class="span3" placeholder="用量">
    </form>
</div>
</html>