{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>
<body>
{% block body %}
{{ super() }}

<div class="container">
    <div class="col-md-12">
        <div class="col-md-7">
            <p style="color:#000;font-size:28px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">
                {{recipes.name}}的留言
            </p>
        </div>
        <div class="col-md-2">
            <a href={{url_for("recipe.recipe_questions_view", recipe_id=recipe_id)}}
               style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">写留言</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-9">
            {% for q in questionsList %}
            <div class="col-md-2"><img class="featurette-image img-responsive" data-src="holder.js/200x200/auto"
                                       alt="Generic placeholder image" src={{q.picture}}></div>
            <div class="col-md-10">
                <div>{{q.name}}的留言：</div>
                <div class="col-md-12"></div>
                <div class="col-md-12">{{q.content}}</div>
            </div>
            <div class="col-md-12"></div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto"
                 alt="Generic placeholder image" src={{recipes.pictures}}>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
</body>
</html>
