{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {{ super() }}

        <div class="container">
            <div class="col-md-8">
                <p style="color:#000;font-size:28px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">{{recipes.name}}</p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href={{url_for("recipe.recipe_edit", recipe_id=recipes.id)}} style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">修改菜谱</a>
                    <a href={{url_for("recipe.recipe_delete", recipe_id=recipes.id)}} style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">| 删除菜谱</a>
                    <a href={{url_for("recipe.index")}} style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">| 创建菜谱</a>
                </p>
            </div>
            <div class="col-md-9">
                <img class="featurette-image img-responsive" src="{{ recipes.pictures }}" data-src="holder.js/300x300/auto" alt="Generic placeholder image" >
                <br>
            </div>
            <div class="com-md-12">
                <div class="col-md-9">
                    <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">简介：</p>
                    <textarea name="introduce"  class="form-control" placeholder="菜谱描述" rows="11" cols="58" boder-color=rgb(255, 255, 255)>{{ recipes.introduce }}</textarea>
                </div>
            </div>
            <div class="com-md-12">
                <div class="col-md-6">
                    <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif"><br>用料：</p>
                    <table class="table table-table-condensed">
                        <tr>
                            <th>用料名称：</th><th>用量：</th>
                        </tr>
                        {% for material in recipes.materials.all() %}
                        <tr>
                            <th>{{ material.name }}</th><th> {{ material.amount }}</th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="col-md-12">
                <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">{{ recipes.name }}的做法</p>
                {% if recipes.steps.all() %}
                    {% for step in recipes.steps.all() %}
                        <div class="col-md-6">
                            <p  style="color:rgb(0,0,0);font-size:15px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">{{ step.step_number }}:{{ step.technique }}</p>
                        </div>
                        <div class="col-md-3">
                            <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto" alt="Generic placeholder image" src={{step.pictures}}>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-12"></div>
                       <div class="col-md-12"></div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p style="color:rgb(0,0,0);font-size:15px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">暂时无相关信息</p>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-12">
                <div class="col-md-9">
                    <p style="color:rgb(200,190,172);font-size:20px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">小贴士：</p>
                    <textarea name="introduce"  class="form-control"  rows="11" cols="58" boder-color=rgb(255, 255, 255)>{{ recipes.tips }}</textarea>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12"><br></div>
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <p>
                        <a href={{url_for("recipe.recipe_edit", recipe_id=recipes.id)}} style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">修改菜谱</a>
                        <a href={{url_for("recipe.recipe_delete", recipe_id=recipes.id)}} style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">| 删除菜谱</a>
                        <a href={{url_for("recipe.index")}} style="color:rgb(178, 68, 34);font-size:14px;font-family:CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif">| 创建菜谱</a>
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>