{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {{ super() }}

        <div class="container">
            <form class="form-inline" role="form" enctype="multipart/form-data" action={{url_for("recipe.recipe_add")}} method="post">
                <div class="col-md-6">
                    <input name="name" type="text" class="form-control" placeholder="菜谱名称">
                </div>
                <div class="col-md-12"></div><br><br>
                <div class="col-md-6">
                    <h>菜谱封面：</h>
                    <input name="pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                </div>
                <div class="col-md-12"></div><br>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <h>简介</h><br>
                    <textarea name="introduce"  class="form-control" placeholder="菜谱描述" rows="3" cols="58"></textarea>
                </div>
                <div class="col-md-12"></div><br><br><br>
                <div class="col-md-12">
                    <h>用料：</h><br>
                    <input name="material1" type="text" class="span2" placeholder="用料名称">
                    <input name="amount1" type="text" class="span3" placeholder="用量">
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <input name="material2" type="text" class="span2" placeholder="用料名称">
                    <input name="amount2" type="text" class="span3" placeholder="用量">
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <input name="material3" type="text" class="span2" placeholder="用料名称">
                    <input name="amount3" type="text" class="span1" placeholder="用量">
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <input name="material4" type="text" class="span2" placeholder="用料名称">
                    <input name="amount4" type="text" class="span1" placeholder="用量">
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <input name="material5" type="text"  placeholder="用料名称">
                    <input name="amount5" type="text" placeholder="用量">
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>
                <div class="col-md-12" >
                    <h>做法：</h><br>
                    <div class="form-group">
                        <textarea name="step1_introduce" class="form-control" placeholder="菜谱步骤1" rows="3" cols="28"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="step1_pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <textarea name="step2_introduce" class="form-control" placeholder="菜谱步骤2" rows="3" cols="28"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="step2_pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <textarea name="step3_introduce" class="form-control" placeholder="菜谱步骤3" rows="3" cols="28"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="step3_pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <textarea name="step4_introduce" class="form-control" placeholder="菜谱步骤4" rows="3" cols="28"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="step4_pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <textarea name="step5_introduce" class="form-control" placeholder="菜谱步骤5" rows="3" cols="28"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="step5_pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                    </div>
                </div>
                                <div class="col-md-12"></div>
                <div class="col-md-12" >
                    <div class="form-group">
                        <textarea name="step6_introduce" class="form-control" placeholder="菜谱步骤6" rows="3" cols="28"></textarea>
                    </div>
                    <div class="form-group">
                        <input name="step6_pictures" type="file" class="form-control" style="padding-top: 30px;padding-bottom: 60px;" placeholder="封面">
                    </div>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-6">
                    <input type="submit" value="提交菜谱">
                </div>
            </form>
        </div>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}

</body>

    <div class="col-md-12">
        <form class="form-inline" role="form">
            <input type="text" class="span2" placeholder="用料名称">
            <input type="text" class="span3" placeholder="用量">
        </form>
    </div>
</html>