{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {{ super() }}

        <div class="container">
            <form action="recipe.recipe_add" method="post">
                <input name="name" type="text" placeholder="菜谱名称"><br>
                <input name="introduce" type="text" placeholder="简介"><br>
                <input name="material" type="text" placeholder="用料"><br>
                <input name="pictures" type="text" placeholder="封面"><br>
                <input type="submit" value="确认提交">
            </form>
        </div>
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>