<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo</title>
</head>
<body>
    <dl style="text-align:center">
        <h>登录用户：</h>{{username}}&nbsp;&nbsp;&nbsp;<a href={{url_for('user.logout')}}>退出登录</a>
        <form action={{url_for('user.weibo', username=username)}} method="post">
            <dd><textarea name="weibo_contents" row=10 cols=68></textarea>
            <dd ><input type=submit value="发送">
        </form>
        {% for weibo in weibos %}
            <dt>{{weibo.id}}&nbsp;&nbsp;&nbsp;{{weibo.contents}}&nbsp;&nbsp;&nbsp;{{weibo.create_time}}<a href={{url_for('user.comments', weibo_id=weibo.id, username=username)}}>评论</a>
                {% if weibo.load_comment() %}
                    <dd>{% for comment in weibo.load_comment() %}
                            {{comment.contents}}&nbsp;&nbsp;&nbsp;{{comment.create_time}}<br>
                        {% endfor %}
                    </dd>
                {% endif %}
        {% endfor %}
    </dl>
</body>
</html>