<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
    <form action={{url_for('messages.add')}} method="post">
        <input type="text" name="message_content"/>
        <input type="submit" value="提交" />
    </form>
    {% for lists in message_lists %}
        <p>{{lists.id}} {{lists.message_content}}  {{lists.create_time}}<a href={{url_for('messages.edit', message_id=lists.id)}}>修改|</a><a href={{url_for('messages.delete', message_id=lists.id)}}> 删除</a></p>
    {% endfor %}
    </form>
</body>
</html>